/* Screen reader text */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	clip: auto;
	clip-path:none;
	height: auto;
	left: 1em;
	top: 1em;
	width: auto;
	z-index: 100000;
}

#main[tabindex="-1"]:focus {
	outline: 0;
}

.screen-reader-text.button {
	padding: 20px;
}

/* Menu */

#linkbar ul li ul.sub-menu {
	display: block !important;
	opacity: 0 !important;
	transition: .3s all;
	visibility: visible !important;
	z-index: -1 !important;
}

#linkbar ul li:hover > ul.sub-menu,
#linkbar ul li ul.sub-menu.active {
	opacity: 1 !important;
	z-index: 5 !important;
}

#linkbar ul li ul.sub-menu.active {
	overflow: visible !important;
}

#slideout-menu {
	display: none;
}

/* Slide-out Menu */

#slideout-menu[aria-hidden="true"] {
	visibility: hidden;
}

#slideout-menu ul.sub-menu {
	display: block !important;
	opacity: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}

#slideout-menu ul.sub-menu.active,
#slideout-menu li.toggled ul.sub-menu {
	display: block !important;
	opacity: 1 !important;
	height: auto !important;
	overflow: auto !important;
}

/* Footer */

#credit-trigger {
}

#credit-trigger:hover {
	color: #473f3d;
}

footer .footer-row {
	padding-bottom: 30px;
}

footer .footer-col,
footer ul.menu li {
	font-size: 1.866rem;
}

footer #credits,
#creditslide .callout-std,
#credit-trigger {
}
