/*
Add custom fonts here.
*/

//Fonts for the Welcome Panel Only
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

html{
	font-size: 62.5%;
}

/* group clearfix */
.index-php {
	.welcome-panel{
		zoom: 1;
		height: auto;
		
		&:before,&:after{
			content: "";
    		display: table;
		}
		&:after {
    		clear: both;
		}
	}
}

/*
* Additional custom admin styles
*/
a.acf-icon,
.js .postbox .handlediv .toggle-indicator:before {
    color: #999;
    border-color: #BBB;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transition: none;
}

#wpadminbar {
	background-color: #0073aa;
}

div.wp-menu-image:before {
	padding: 9px 0;
}

#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
	line-height: 24px;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	width: 200px;
}

#wpcontent,
#wpfooter {
	margin-left: 200px;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus, input[type=month]:focus,
input[type=number]:focus, select:focus, textarea:focus {
	border-color: #23282d;
	box-shadow: 0 0 2px rgba(35,40,45,.8);
}

/* Admin Top Bar */
#wpadminbar ul#wp-admin-bar-root-default > li#wp-admin-bar-custom_menu a:before {
	color: rgba(240,245,250,.6);
	content: "\f319";
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1.25;
	vertical-align: top;
	-moz-osx-font-smoothing: grayscale;
	
	font:{
		family: "dashicons";
		size: 20px;
		weight: 400;
		style: normal;
	}
	
	text:{
		decoration: inherit;
		align: center;
	}
}

#wpadminbar ul#wp-admin-bar-root-default > li#wp-admin-bar-custom_menu a:hover, #wpadminbar ul#wp-admin-bar-root-default > li#wp-admin-bar-custom_menu a:hover:before, li#wp-admin-bar-custom_menu:hover, #wpadminbar a:hover, #wpadminbar li:hover {
	color: #00b9eb !important;
	background-color:#32373c !important;
}

/* Footer */
#wpfooter{
	margin-left: 200px;
	p {
		text-transform:uppercase;
		letter-spacing: .1em;
		color: #1b1b1b;
		
		font:{
			family: 'Montserrat', sans-serif;
			size: 11px;
		}
	}
	
	a{
		color: #1b1b1b;
		text-decoration: none !important;
		
		&:hover {
			text-decoration: none;
		}
	}
	
	#footer-thankyou{
		font-style:normal;
	}
	
	.icon{
		 img {
			height: 16px;
			width: 16px;
			vertical-align: middle;
		}
	}
} 

/* Dashboard area */
#wpcontent {
	padding-left: 23px;
	margin-left: 200px;
	
	.wrap {
		margin: 23px 23px 0 0;
	}
}

/* Misc */
#c2c {
	display: none;
}
.dashicons-migrate{
	line-height:1 !important;
}

/* Inner Menu */
#adminmenu{
	a.aa-logo {
		display: block;
		width: 100%;
		opacity: 1;
		height: 69px;
		margin: 15px auto;
		padding: 0;
		
		 .wp-menu-name {
			box-sizing:border-box;
			padding:5px;
			line-height:1;
			margin-top:-10px;
			letter-spacing:2px;
			 
			 text:{
				 align:center;
				 transform:uppercase;
			 }
			
			 font:{
				 size:24px;
				 weight:700;
			 }
		}
		
		.dashicons-before{
			display: none;
		}
	}
}

html {
  background: #F6F6F6; }

/* Links */
a {
  color: #0073A6; }
  a:hover, a:active, a:focus {
    color: #00a0d2; }

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #00a0d2; }

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #23282d; }

#adminmenu a {
  color: #fff; }

#adminmenu div.wp-menu-image:before {
  color: #f1f2f3; }

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #0073aa; }

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #F6F6F6;
  border-bottom-color: #F6F6F6; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #32373c; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  display: none; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #b9bfcb; }

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #b9bfcb; }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #00a0d2; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #00a0d2; }

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #F6F6F6; }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #0073A6; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #fff; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #fff;
	
	&:hover {
  		color: #fff; 
	}

}

#collapse-button div:after {
  color: #fff; }

#collapse-menu:hover #collapse-button div:after {
  color: #fff; }

#plugins-by-dreihochzwo, #plugins-by-john-huebner{
	display:none;
}

/*Flex Layout Styles*/
/* Customize the flexible content fields for better readability. */
.acf-flexible-content .layout .acf-fc-layout-handle {
	color: #a8a8a8 !important;
}

.acf-flexible-content .layout .acf-fc-layout-handle .acf-fc-layout-order {
	background: #ececec;
}

/* Flexible content fields: Section label clone field */
.layout .aa-section-label {
	position: absolute;
	top: 4px;
	right: 50%;
	left: 35px;
	width: auto;
	z-index: 1;
}

.layout .aa-section-label-input {
	width: 100%;
	box-shadow: none;
}

.layout .aa-section-label-input:focus {
	border-color: #ccc;
}

.layout .aa-section-label-input::placeholder {
	color: #c8c8c8;
	font-style: italic;
}

.layout .aa-section-label-input:focus::placeholder {
	color: #32373c;
}

.acf-flexible-content .layout.aa-layout-with-section-label .acf-fc-layout-handle {
	padding-left: 50%;
	padding-right: 37px;
	text-align: right;
}

.acf-flexible-content .layout.aa-layout-with-section-label:hover .acf-fc-layout-handle {
	padding-right: 135px;
}

.acf-flexible-content .layout.aa-layout-with-section-label .acf-fc-layout-order {
	position: absolute;
	left: 6px;
}

/* Flexible fields: Enhanced contrast of accordions within flexible fields */
.layout > .acf-fields > .acf-field-accordion > .acf-label {
	background: #e8e8e8;
}

.layout > .acf-fields > .acf-field-accordiond.acf-accordion.-open > .acf-label {
	background: #f6f6f6;
}

.layout > .acf-fields > .acf-field-accordion > .acf-label label {
	text-transform: uppercase;

	color: #999;
}

.layout > .acf-fields > .acf-field.acf-accordion.-open > .acf-label label {
	color: #000;
	font-weight: 700;
}

.layout > .acf-fields > .acf-field-accordion > .acf-input {
	border: 20px solid #f6f6f6;
	border-top: none;
	box-shadow: inset 0 0 1px #7e848a;
}

.layout .acf-fields > .acf-field.acf-accordion .acf-fields:first-child {
	border-top-width: 0;
}

.acf-fields>.acf-tab-wrap .acf-tab-group{
	z-index:1 !important;
}
.acf-accordion{
	z-index:inherit !important;
}


/* Accordion Dashboard Widget */
#accordion_dashboard_widget{
.accordion {
  display:block;
  background-color: #eee;
  border:1px solid #ccc;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  outline: none;
  margin-bottom:-1px;
  transition: 0.4s;
	font:{
		size:16px;
		weight:700;
	}
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
	
iframe{
  width:100%;
	max-width:100%;
}
}
#dashboard-widgets .postbox .inside iframe{
	max-width:100%;
}