/* Custom Login Page Styles */

@import "_utils/variables";
@import "_utils/mixins";
@import "_layout/_core.scss";
@import "_layout/_typography.scss";
@import "_layout/_layout.scss";

body, html {
	background:{
		position: center;
		repeat: no-repeat;
		size: cover;
		color:#f6f6f6 !important;
	}
	
	h1 a {  /*This is the login logo*/
		width: 100% !important; 
		height: 100px !important; 
		background-size: contain !important;
	}
	
	#loginform{
		box-shadow: none;
		
		label{
			color:inherit !important;
			font:{
				size:16px;
			} 
		}
		
		input[type="text"], input[type="password"], input[type="checkbox"]{
			    background-color: #fff;
    			border: 1px solid rgba(0, 0, 0, 0.2);
				box-shadow: none;
				padding: 12px 12px;
				
				font:{
					size:16px;
					weight:400;
				}
		}
		
		input[type="submit"]{
			text-shadow:none;
			box-shadow: none;
			border-radius:0;
			padding:0 30px;
			height:38px;
			font:{
				size:15px;
			}
		}
	}
	
	#nav, #backtoblog{
		text-align: center;
			a{
				color:$color_black !important;
				text-decoration: underline !important;
				
				&:hover{
					color:$color_black !important;
				}
			}
		}
}