/*-----------------------------------------------------------------------------------*/
/*  BLOG
/*-----------------------------------------------------------------------------------*/

.post{
	margin-bottom:2%;
}

.post-meta{
	margin-bottom:2%;
}

/*-----------------------------------------------------------------------------------*/
/*	BLOG SINGLE
/*-----------------------------------------------------------------------------------*/

.post-footer{
	margin-bottom:2%;
}

/*-----------------------------------------------------------------------------------*/
/*	SHARE LINKS
/*-----------------------------------------------------------------------------------*/

.share-buttons { 
	div{
		display: inline;
		padding:0 5px;
	}
}

/*-----------------------------------------------------------------------------------*/
/*	NAVIGATION
/*-----------------------------------------------------------------------------------*/

#navigation{
	.pagination{
		.nav-previous{
			float:right;
		}
		.nav-next{
			float:left;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*	ABOUT AUTHOR
/*-----------------------------------------------------------------------------------*/

#about_author {
	background-color: #f1f1f1;
	box-sizing: border-box;
	padding: 30px 30px 5px;
	margin: 25px 0;
	
	img {
		float: left;
		height: 100px;
		width: 100px;
		margin-right: 20px;
	}
}

/*-----------------------------------------------------------------------------------*/
/*	SIDEBAR & WIDGETS
/*-----------------------------------------------------------------------------------*/

#sidebar{
	.social-links{
		a{
			padding:0 7px;
			text:{
				decoration:none;
			}
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*	RELATED POSTS
/*-----------------------------------------------------------------------------------*/

#related_posts{
	
	ul {
	list-style: none;
	display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
	
		li{
			text-align: center;
			box-sizing: border-box;
			width: 32.26%;
			margin-right: 1.6%;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.relatedcontent{
		h5{
			margin-bottom: 0;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*	COMMENTS
/*-----------------------------------------------------------------------------------*/

#respond{
	form{
		.form__summary{
			box-sizing: border-box;
			padding:20px;
			border:2px solid red;
			margin-bottom:50px;
			
			ol{
				margin-bottom:0;
			}
		}
		fieldset.form__data{
			.form-element{
				margin-bottom:25px;
				input, textarea{
					margin-bottom:0;
				}
				
				.form__validation{
					color:red;
				}
			}
		}
	}
}

#comments {
	clear: both;
	
	ul#comment-block {
		
		li.comment {
			list-style: none;

		.user {
			float: left;
			width: 75px;
			height: 75px;
			margin-right: 20px;
		}
	
		.message {
			overflow: hidden;
		}

}	
}
}