html {
	outline: none !important;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	
	/* NOTE
html is set to 62.5% so that all the REM measurements throughout
are based on 10px sizing. So basically 1.6rem = 16px :) */
	font-size: 62.5%;
  }

/* Fluid Typography */
/*
h1{
  --minFontSize: 3.2rem;
  --maxFontSize: 4.0rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
h2{
  --minFontSize: 2.4rem;
  --maxFontSize: 3.2rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
h3{
  --minFontSize: 2.08rem;
  --maxFontSize: 2.88rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
h4{
  --minFontSize: 1.6rem;
  --maxFontSize: 2.4rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
h5{
  --minFontSize: 1.28rem;
  --maxFontSize: 2.08rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
h6{
  --minFontSize: 1.12rem;
  --maxFontSize: 1.92rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
body {
	--minFontSize: 1.6rem;
  --maxFontSize: 1.8rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
*/

/*Base font sizes - Comment these out if using fluid typography*/
body {font-size: 1.6rem; line-height: 1.6; }
h1 { font-size: 4.0rem; line-height: 1.2; }
h2 { font-size: 3.6rem; line-height: 1.25; }
h3 { font-size: 3.0rem; line-height: 1.3; }
h4 { font-size: 2.4rem; line-height: 1.35; }
h5 { font-size: 1.8rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.6; }

@media(max-width:575px){
	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.5rem; }
}	

p {
	margin-top: 0;
}

/* Colors for Visual Editor (_includes/functions/editor.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
span.color-black { color: $color_black; }
span.color-white { color: $color_white; }

/* Weights for Visual Editor (_includes/functions/editor.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.weight-light {
	font-weight: 300;
}
.weight-regular {
	font-weight: 400;
}
.weight-medium {
	font-weight: 500;
}
.weight-bold {
	font-weight: 700;
}
.weight-black {
	font-weight: 900;
}

/* Underline for Visual Editor (_includes/functions/editor.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-underline {
	text-decoration: underline;
}