/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, :after, :before {
	box-sizing: border-box;
}

.u-full-width {
	width: 100%;
	box-sizing: border-box;
}

.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}

.u-pull-right {
	float: right;
}

.u-pull-left {
	float: left;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}

/* Adjust containers and rows padding for Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

/* Frontend Admin Dashboard Icon
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.admin-bar #wpadminbar ul#wp-admin-bar-root-default > li#wp-admin-bar-custom_menu a:before {
	color: rgba(240, 245, 250, .6);
	content: "\f226";
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 1.25;
	vertical-align: top;
	-moz-osx-font-smoothing: grayscale;
	
	font:{
		family: "dashicons";
		size: 20px;
		weight: 400;
		style: normal;
	}
	text:{
		decoration: inherit;
		align: center;
	}
}

.admin-bar {
	top: 32px;
	
	@media (max-width: 782px) {
		top: 46px;
	}
}